# General
*.swp
*.swo
*.rbo
*.gem
.DS_Store
.rbenv-version
.rbx/
xcuserdata
project.xcworkspace
DerivedData
/concatenated.*

# Emacs
*~

# Dependency directory
node_modules

# Logs
logs

# IDEs
.idea/
.vscode/

# dotenv
.env
.env*
!/config/*
